
.container {
  margin: 0 auto;
  width: 100%;
  max-width: 960px;
  padding: 0 15px;
}

.container:after {
  content:"";
  display: table;
  clear: both;
}

.posts-list {
  margin-bottom: 30px;
  width: 64%;
  float:left;
}
  
.post {
  margin-bottom: 35px;
}
  
.post-content p {
  line-height: 1.5;
  padding-bottom: 1em;
}
  
.post-image {
  margin-bottom: 30px;
}
  
.category {
  margin-bottom: 15px;
}
  
.category a {
  color: #FFB02E;
  text-transform: uppercase;
  font-weight: bold;
}
  
.post-title {
  margin-bottom: 12px;
  font-size: 26px;
  cursor: pointer;
}

.post-footer {
  position: relative;
  margin-top: 15px;
  margin-bottom: 25px;
}

.more-link {
  position: relative;
  display: inline-block;
  font-size: 10px;
  text-transform: uppercase;
  color: white;
  line-height: 44px;
  padding: 0 22px;
  background: #3C3D41;
  letter-spacing: 0.1em;
}
  
.more-link:after {
  content:'';
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  top: 0;
  right: 0;
  border: solid transparent;
  border-width: 22px 18px;
  border-left-color: #3C3D41;
  transform:translateX(100%);
}
