.header-container {
  width: 100%;
  background: white;
  box-shadow: 3px 3px 1px rgba(0,0,0,.05);
  padding: 15px 0;
  margin-bottom: 30px;
  position: relative;
}

.header-container:after {
  content:"";
  display: table;
  clear: both;
}
 
.logo span {
  float: left;
  display: inline-block;
  font-family: 'Open Sans';
  font-weight: bold;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  margin: 5px 0;
  text-align: center;
  color: white;
}
  
.logo span:nth-child(odd) {
  background: #F64A46;
}
  
.logo span:nth-child(even) {
  background: #FFB02E;
}


