#menu {
  float: right;
}
  
#menu li {
  display: inline-block;
  margin-right: 30px;
}
  
#menu a {
  color: #111;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  font-family: arial;
  display: block;
  line-height: 40px;
}

#menu.active {
  max-height: 123px;
}