.nav-toggle{
  display: none;
  position: relative;
  float: right;
  width: 40px;
  height: 40px;
  margin-left: 20px;
  background: #F64A46;
  cursor: pointer;
}
  
.nav-toggle span {
  display: block;
  position: absolute;
  top: 19px;
  left: 8px;
  right: 8px;
  height: 2px;
  background: white;
}
  
.nav-toggle span:before, .nav-toggle span:after {
  content:"";
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 2px;
  background: white;
}
  
.nav-toggle span:before {
  top: -10px;
}
  
.nav-toggle span:after {
  bottom: -10px;
}