#searchform {
  float: right;
  margin-left: 46px;
  display: inline-block;
  position: relative;
}
  
#searchform button {
  background: transparent;
  height: 40px;
  border: none;
  position: absolute;
  right: 10px;
  color: #F64A46;
  cursor: pointer;
  font-size: 18px;
}
  
#searchform button:focus {
  outline: 2px solid #EBEBE3;
}
