.widget {
  padding: 20px 15px;
  background: white;
  font-size: 13px;
  margin-bottom: 30px;
  box-shadow: 3px 3px 1px rgba(0,0,0,.05);
}
  
.widget-title {
  font-size: 22px;
  padding: 10px;
  margin-bottom: 20px;
  text-align: center;
  border: 2px solid #FFB02E;
  box-shadow: 3px 3px 0 0 #FFB02E;
}
  
.widget-title__last {
  font-size: 20px;
  padding: 10px;
  margin-bottom: 20px;
  text-align: center;
  border: 2px solid #FFB02E;
  box-shadow: 3px 3px 0 0 #FFB02E;
}

.widget-category-list li {
  border-bottom: 1px solid #EBEBE3;
  padding: 10px 0;
  color: #c6c6c6;
  font-style: italic;
}
  
.widget-category-list li:last-child {
  border-bottom: none;
}
  
.widget-category-list li a {
  color: #626262;
  margin-right: 6px;
  font-style: normal;
  font-family: arial;
}
  
.widget-category-list li a:before {
  content:"\f105";
  display: inline-block;
  font-family: arial;
  margin-right: 10px;
  color: #c6c6c6;
}
  
.widget-posts-list li {
  border-top: 1px solid #EBEBE3;
  padding: 15px 0;
}
  
.widget-posts-list li:nth-child(1) {
  border-top: none;
}

.post-image-small {
  width: 30%;
  float: left;
  margin-right: 15px;
}
  
.widget-post-title {
  float: left;
}
  