.videos {
  width: 100%;
  max-width: 980px;
  margin: 0 auto;  
}

.videos__wrapper {
  position: relative;
}

.video__item {
  padding-top: 56.25%;
}

.video__element {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
} 
