.footer {
  padding: 30px 0;
  background: #3C3D41;
  color: white;
}
  
.footer-col {
  width: 33.3%;
  float: left;
}
  
.footer-col a {
  color: white;
}
  
.footer-col:last-child {
  text-align: right;
}