*, *:after, *:before{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: .5s ease-in-out; 
}
  
ul {
  list-style: none;
}
  
a {
  text-decoration: none;
  outline: none;
}
  
img {
  display: block;
  width: 100%;
}
  
h1, h2, h3, h4, h5, h6 {
  font-family: arial;
  font-weight: bold;
  letter-spacing: 1px;
}
  
body {
  font-family: 'Open Sans', arial, sans-serif;
  font-size: 14px;
  line-height: 1;
  color: #373737;
  background: #f7f7f7;
} 